# 파이썬 컴파일 파일 (Byte-compiled / optimized / DLLfiles)
__pycache__/
*.py[cod]
*$py.class

# 가상환경 폴더 (Virtual Environments)
venv/
env/
.venv/
.env
build/
dist/
*.egg-info/

# IDE 설정 파일 (필요 시 추가)
.vscode/
.idea/

# 맥(Mac) 시스템 파일12
.DS_Store